<%- include ('../partials/header_scroll'); -%>
<!-- jumbotron replacement start here-->
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

    <div id="landing-header">
        <h1> <em>WELCOME TO MY</em> 
            <i class="fas fa-camera-retro"></i>   blog
            <p id="quote"> Each image clicked has a story to tell and speaks for itself and for the one who clicked it<br> 
                <span id="auth">-  Rohit Ranjan</span>
            </p>     
        </h1>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
<!-- jumbotron replacement end here-->

    <div class="container text-center p-0">        
                <div  class="masonryholder">
                    <% campgrounds.forEach(function(campground){ %>
                        <a href="/campgrounds/<%= campground._id %>">
                            <div id="thumbnail" class="masonryblock thumbnail ">
                                <img src="<%=campground.image %>" alt="" class="img-responsive">
                                <div id="name">
                                    <p class="caption font-weight-light font-italic text-wrap">
                                            <span  class="name"><%=campground.name %></span> - 
                                            <%=campground.description.substring(0,40) %>... 
                                    </p>
                                </div>        
                            </div>
                        </a>
                    <%}); %>
                </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        (function($) {          
            $(document).ready(function(){                    
                $(window).scroll(function(){                          
                    if ($(this).scrollTop() > 200) {
                        $('#menu').fadeIn(500);
                    } else {
                        $('#menu').fadeOut(500);
                    }
                });
            });
        })(jQuery);
        </script>


    <%- include ('../partials/footer'); -%>