<%- include ('../partials/header'); -%>

<div class="container-fluid show-bkg">
    <div class="row show-body">
        <div class="col-md-3 ">
            <h4 class="font-italic font-weight-bold text-wrap"> <%=campground.name%></h4>
            <div class="story">
                <p class="font-italic text-wrap">
                       <%=campground.description %> 
                </p>
            </div> 
        </div>
        <div class="col-md-8">
                <div class="image-body">
                    <img class="img-responsive" src="<%=campground.image %>">
                    <div class="caption-show font-weight-light inline-image p-1">
                        Submitted by:<%=campground.author.username %><br>
                        <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                            <a class= "btn btn-link inline-image p-1" href="/blogs/<%=campground._id%>/edit">Edit</a>
                            <form id="delete-form" action="/blogs/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-link p-1">Delete</button>
                            </form>
                        <% }%>
                    </div>                
                </div>  
                <div class="card-body bg-light">
                    <div class=text-right>
                        <a href="/blogs/<%=campground._id%>/comments/new">Add New Comment </a>
                    </div>
                    <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%=comment.author.username %></strong>
                            <!-- <span class="float-right">10 Days ago</span> -->
                            <span class="comment-background"> <%= comment.text %> </span>                       
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <div class="dropdown-container" tabindex="-1">
                                    <div class="three-dots">
                                    </div>
                                    <div class="dropdown">
                                        <!-- <a href="#"><div>Edit</div></a> -->
                                        <a class="btn btn-link" href="/blogs/<%=campground._id%>/comments/<%=comment._id %>/edit">Edit</a>
                                        <form action="/blogs/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method=POST>
                                            <input type="submit" class="btn btn-link" value="Delete">
                                        </form>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <%}) %>            
                </div>
        </div>
    </div>
</div>
<%- include ('../partials/footer'); -%>